@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.rdp-root {
  --rdp-accent-color: #2c3d4f !important; /* Change the accent color to indigo. */
  --rdp-accent-background-color: #3c546c !important; /* Change the accent background color. */
  --rdp-nav-height: 10px !important;

  /* ikisi birlikte kullanilmali */
  --rdp-day_button-width: 30px !important; /* Buttonun genislik yüksekligi */
  --rdp-day_button-height: 30px !important;

  --rdp-day-height: 35px !important; /* Günlerin genislik yüksekligi */
  --rdp-day-width: 35px !important;
}

.rdp-day {
  text-align: center !important;
  font-size: 15px;
}
